.page {
    font-family: 'Montserrat', sans-serif;

    display: flex;

    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 40px 90px;

    transition: background-image 1s ease-in-out;

    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    text-shadow: 0 0 10px #333;

    flex-wrap: wrap;
    justify-content: space-between;
}

.modal {
    position: fixed;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    display: none;
    left: 50%;
    top: 10%;
    margin-left: -150px;   
    border-radius: 10px;
    color: black;
    text-shadow: none;
    box-shadow: 0px 0px 10px #333;
}

.modal[show] {
    display: block;
}

.modal__header {
    margin-top: 0;
}

.modal__button {
    display: block;
    width: 25%;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    background-color: #3333ff;
    margin: 0 0 0 auto;
}


.modal__button:hover {
    cursor: pointer;
    background-color: #5555ff;
}

@media screen and (max-width: 800px) {
    .page {
        padding: 10px;
    }
}

.control {
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .control {
        justify-content: flex-start;
    }
}

.control__refresh {
    width: 44px;
    height: 44px;

    transition: color .3s ease-in-out;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: url('../img/refresh-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44px 44px;
}

.control__refresh:hover {
    cursor: pointer;

    color: gray;
}

.control__dropdown-content {
    position: absolute;

    display: none;
}

.control__dropdown-item {
    display: block;

    width: 71px;
    height: 44px;
    margin-left: 10px;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(76, 82, 85);
}

.control__language {
    width: 71px;
    height: 44px;
    margin-left: 10px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(174, 181, 185);
}

.control__dropdown {
    display: relative;
}

.control__dropdown:hover .control__dropdown-content {
    display: block;
}

.control__units {
    display: flex;
}

.control__fahrenheit-units {
    font-size: 14px;
    font-weight: 700;

    display: block;

    width: 44px;
    height: 44px;
    margin-left: 10px;

    transition: background-color .3s ease-in-out;

    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgb(76, 82, 85);
}

.control__fahrenheit-units:hover {
    cursor: pointer;
}

.control__celsius-units {
    font-size: 14px;
    font-weight: 700;

    display: block;

    width: 44px;
    height: 44px;

    transition: background-color .3s ease-in-out;

    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(76, 82, 85);
}

.control__celsius-units:hover {
    cursor: pointer;
}

.control_units-item[current] {
    background-color: rgb(174, 181, 185);
}

.control__search {
    display: flex;

    margin-left: auto;
}

@media screen and (max-width: 630px) {
    .control__search {
        margin-top: 10px;
    }
}

.control__input-city {
    display: block;

    box-sizing: border-box;
    width: 230px;
    height: 44px;
    margin-left: auto;
    padding-left: 1em;

    color: #fff;
    border: 1px solid rgb(228, 227, 227, .2);
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: rgb(76, 82, 85);
}

@media screen and (max-width: 400px) {
    .control__input-city {
        width: 100px;
    }
}

.control__input-city:focus {
    outline: none;
}

.control__voice-input {
    display: block;

    box-sizing: border-box;
    width: 44px;
    height: 44px;

    color: rgba(255, 255, 255, .4);
    border: 1px solid rgba(228, 227, 227, .2);
    border-left: none;
    background-color: rgba(76, 82, 85);
}

.control__search-button {
    font-size: 14px;
    font-weight: 700;

    display: block;

    width: 101px;
    height: 44px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(174, 181, 185);
}


.weather__current-location {
    font-size: 44px;
    font-weight: 700;

    margin-top: 57px;
    margin-bottom: 0;

    text-transform: uppercase;
}

.weather__current-time {
    font-size: 24px;
    font-weight: 600;

    margin-top: 4px;
    margin-bottom: 0;
}

.weather__today {
    position: relative;

    width: 720px;
}

@media screen and (max-width: 900px) {
    .weather__today {
        display: flex;

        width: 100%;

        flex-wrap: wrap;
    }
}

.weather__degrees_today {
    font-size: 306px !important;
    font-weight: 700 !important;

    margin-top: -5px;
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .weather__degrees_today {
        font-size: 100px !important;
    }
}

.weather__icon_today {
    font-size: 8em !important;

    position: absolute;
}

@media screen and (max-width: 900px) {
    .weather__icon_today {
        position: static;
    }
}

.weather__info {
    font-size: 22px;
    font-weight: 700;
    line-height: 37px;

    position: absolute;
    top: 160px;
    left: 500px;

    display: flex;
    flex-direction: column;

    text-transform: uppercase;

    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .weather__info {
        position: static;
    }
}

.weather__days {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.weather__day-title {
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 0;

    text-transform: uppercase;
}

.weather__degrees {
    font-size: 80px;
    font-weight: 600;

    margin-top: 4px;
}

.map {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-end;
}

.map__map {
    width: 300px;
    height: 318px;

    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.map__latitude {
    font-size: 20px;
    font-weight: 600;

    margin: 10px 0 0 0;
}

.map__longitude {
    font-size: 20px;
    font-weight: 600;

    margin: 10px 0 10px 0;
}